services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:        
      - .env  
    environment:
      - PORT=5000

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:5000
    stdin_open: true 
    tty: true
    depends_on:
      - backend